<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <meta charset="utf-8">
  <title>Propuestas Reales</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik300:700&display=swap" rel="stylesheet">
  <% if (env !== 'development') { %>
  <link rel="stylesheet" href="<%= assetPath('app.css') %>">
  <% } %>
</head>

<body>
  <header>
    <nav class="navbar">
      <!--<a class="navbar-logo" href="/"><img src="<%= assetPath('logo_horizontal_propuestas_reales.png') %>" alt="Logo"/></a>-->
      <a class="navbar-logo" href="/"><img src="<%= assetPath('logo_horizontal_propuestas_reales_black.png') %>"
          alt="Logo" /></a>
      <ul>
        <li><a href="/posts" class="navbar-button" id="ver-ideas">Ver ideas</a></li>
        <li><a href="/votes" class="navbar-button" id="ver-ideas">Califica ideas</a></li>
        <li><a href="/dashboard" class="navbar-button" id="ver-ideas">Estadísticas</a></li>
        <li><a href="/posts/new" class="navbar-button" id="publicar-idea">Publica tu idea</a></li>
      </ul>
    </nav>
  </header>
  <div class="content-container">
    <%- body %>
  </div>
  <script src="<%= assetPath('app.js') %>"></script>
</body>

<footer class="page-footer">
  <div class="instagram-footer-container">
    <img class="ig-logo" src="<%= assetPath('instagram_logo.png') %>" alt="Logo" />
    <p>@propuestasrealescl</p>
  </div>
  <div class="email-footer-container">
    <img class="email-logo" src="<%= assetPath('email_logo.png') %>" alt="Logo" />
    <p>propuestasrealescl@gmail.com</p>
  </div>
</footer>

</html>