
    <section class="mid-container">
            <h3 class="header" id="second-header">¿Quieres descargar las ideas?</h3>
            <p><strong>Haz click aquí!</strong> </p>
            <button id="download_button">Download</button>
            
    </section>
        
        
        
    <script type="text/javascript">
    
        var csv = <%- `'${JSON.stringify(csv)}'` %>;
    
        var download = function() {
        var button = document.getElementById('download_button');
        button.onclick = function(){
        const blob = new Blob([csv], {type: 'text/csv'});
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.setAttribute('hidden', '');
        a.setAttribute('href', url); 
        a.setAttribute('download', 'download.csv');
        document.body.appendChild(a);
        a.click()
        document.body.removeChild(a);
        
        }}
        document.addEventListener('DOMContentLoaded', download());
    
    </script> 
<section>
    <form action="<%- salirPath %>" method="POST">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Cerrar sesion" />
    </form>
    <h1>Publicaciones por aprobar:</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Autor</th>
                    <th>Tipo</th>
                    <th>Propuesta</th>
                    <th colspan="2">Decisión</th>
                </tr>
            </thead>
            <tbody>
                <% postList.forEach((post) => { %>
                <tr>
                    <% if (post.status == 'pendiente') { %>
                        <td><%- post.email %></td>
                        <td><%- post.type %></td>
                        <td><%- post.body %></td>
                        <td><form action="<%- aprueboPath(post) %>" method="POST">
                                <input type="hidden" name="_method" value="patch" />
                                <input type="submit" value="Apruebo" />
                            </form>
                        </td>
                        <td><form action="<%- rechazoPath(post) %>" method="POST">
                                <input type="hidden" name="_method" value="patch" />
                                <input type="submit" value="Rechazo" />
                            </form>
                        </td>
                        <% } %>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <h1>Publicaciones aprobadas:</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Autor</th>
                    <th>Tipo</th>
                    <th>Propuesta</th>
                    <th>Aprobada por</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <% postList.forEach((post) => { %>
                <tr>
                    <% if (post.status == 'aprobado') { %>
                        <td><%- post.email %></td>
                        <td><%- post.type %></td>
                        <td><%- post.body %></td>
                        <td><%- post.autorCambio %></td>
                        <td><form action="<%- rechazoPath(post) %>" method="POST">
                                <input type="hidden" name="_method" value="patch" />
                                <input type="submit" value="Rechazo" />
                            </form>
                        </td>
                        
                        <% } %>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <h1>Publicaciones rechazadas:</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Autor</th>
                    <th>Tipo</th>
                    <th>Propuesta</th>
                    <th>Rechazada por</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <% postList.forEach((post) => { %>
                <tr>
                    <% if (post.status == 'rechazado') { %>
                        <td><%- post.email %></td>
                        <td><%- post.type %></td>
                        <td><%- post.body %></td>
                        <td><%- post.autorCambio %></td>
                        <td><form action="<%- aprueboPath(post) %>" method="POST">
                                <input type="hidden" name="_method" value="patch" />
                                <input type="submit" value="Apruebo" />
                            </form>
                        </td>
                        
                        <% } %>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</section>